apiVersion: v1
kind: Secret
metadata:
  name: {{ include "nomad.fullname" . }}-secrets
  namespace: {{ include "nomad.namespace" . }}
  labels:
    {{- include "nomad.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.license }}
  license: {{ .Values.license | b64enc | quote }}
  {{- else }}
  {{- fail "Nomad Enterprise license is required. Provide via --set license=<value> or --set-file license=/path/to/license.hclic" }}
  {{- end }}
